<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scvr_patcher.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="scvr_patcher.main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scvr_patcher.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <scvr_patcher.AppSettings>
            <setting name="gameRootDir" serializeAs="String">
                <value />
            </setting>
        </scvr_patcher.AppSettings>
        <scvr_patcher.main>
            <setting name="availableConfigsUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="gameRootDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EACHostName" serializeAs="String">
                <value>modules-cdn.eac-prod.on.epicgames.com</value>
            </setting>
            <setting name="EACComment" serializeAs="String">
                <value>Star Citizen VR Patcher EAC Bypass Rule - Comment out or delete for other EAC games!</value>
            </setting>
        </scvr_patcher.main>
    </userSettings>
    <applicationSettings>
        <scvr_patcher.AppSettings>
            <setting name="availableConfigsUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bluscream/scvr-patcher/main/configs.json</value>
            </setting>
            <setting name="EACHostName" serializeAs="String">
                <value>modules-cdn.eac-prod.on.epicgames.com</value>
            </setting>
            <setting name="EACComment" serializeAs="String">
                <value>Star Citizen VR Patcher EAC Bypass Rule - Comment out or delete for other EAC games!</value>
            </setting>
            <setting name="availableConfigsFile" serializeAs="String">
                <value>configs.json</value>
            </setting>
        </scvr_patcher.AppSettings>
    </applicationSettings>
</configuration>